body {
    font-family: 'Press Start 2P', cursive;
}

h3 {
    text-align: center;
    color: #EF4423;
    text-shadow: 2px 2px 2px white;
    margin-top: 0;
    margin-bottom: 1.5em;
    padding-left: 2em;
}

button.highScore {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    height: 3em;
    cursor: pointer;
    user-select: none;
    color: #FFF;
    background-color: #4faf44;
    border: none;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 3px 4px #999;
}

button.highScore:hover {
    background-color: #4f8A44;
}

button.highScore:active {
    background-color: #4f8A44;
    box-shadow: 3px 2px #666;
    transform: translateY(2px);
}

button.next, button.prev {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
    user-select: none;
}

button.next:hover, button.prev:hover {
    color: #EF4423;
}

button.next:active, button.prev:active {
    transform: translateY(2px);
}

footer {
    text-align: center;
    position: fixed;
    width: 80%;
    top: 95%;
    left: calc(50% - 40%);
}

.button {
    position: absolute;
    top: calc(50% - 300px);
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.modal {
    display: none;
    color: rgb(239, 233, 233);
    z-index: 1;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.9);
    width: 500px;
    height: 480px;
    top: calc(50% - 240px);
    left: calc(50% - 250px);
    border-radius: 0.5em;
}

.modal-content {
    padding: 1em;
}

.row {
    width: 100%;
    font-size: 0.9em;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 1.5em;
}

.column {
    flex: 40%;
    text-shadow: 1px 1px 1px #EF4423;
}

.column-rank {
    flex: 20%;
    text-shadow: 1px 1px 1px #EF4423;
}

.userName {
    width: 75%;
    text-align: left;
}

.score {
    text-align: right;
}

.rank-number {
    text-align: center;
}

.rank-number::before {
    text-align: right;
}

.col-heading {
    color: #4faf44;
    text-shadow: 1px 1px 1px #FFF;
}

.close {
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.mobile-controls {
    text-align: center;
    position: absolute;
    width: 50%;
    top: 70%;
    left: calc(50% - 25%);
}

.mobile-controls > section {
    margin-bottom: 2em;
}

.score-nav {
    width: 20%;
    padding-left: 1em;
    position: absolute;
    height: 25px;
    top: calc(100% - 30px);
    left: calc(50% - 10%);
}

.version-num {
    position: absolute;
    font-size: 0.7em;
    left: 100%;
}

#playerName {
    text-align: center;
}